<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>770584872614238</sid>
    <event-sheet>Eventos Menu</event-sheet>
    <size>
        <width>640</width>
        <height>1152</height>
    </size>
    <margins>
        <horizontal>640</horizontal>
        <vertical>1152</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Mar" sid="482059307710051">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Mar" uid="106">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Horizontal</movement>
                                <wave>Sine</wave>
                                <period>4</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>5</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <effect-instances>
                        <effect-instance type="ScanLines">
                            <parameters>
                                <line-height>2</line-height>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-32</x>
                        <y>768</y>
                        <z>0</z>
                        <width>704</width>
                        <height>416</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="DetalhesMar" sid="642448573177036">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="DetalhesSuperficieMar" uid="107">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Horizontal</movement>
                                <wave>Sine</wave>
                                <period>4</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>10</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Sine2">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Vertical</movement>
                                <wave>Sine</wave>
                                <period>2</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>5</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>832</y>
                        <z>0</z>
                        <width>672</width>
                        <height>320</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Ceu" sid="774245010157889">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Ceu" uid="104">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>0</y>
                        <z>0</z>
                        <width>640</width>
                        <height>768</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="DetalhesCeu" sid="590008245777485">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Estrelas" uid="108">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Opacity</movement>
                                <wave>Sine</wave>
                                <period>2</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>20</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <effect-instances>
                        <effect-instance type="GlowHorizontal">
                            <parameters>
                                <intensity>0.05</intensity>
                            </parameters>
                        </effect-instance>
                        <effect-instance type="GlowVertical">
                            <parameters>
                                <intensity>0.05</intensity>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>0</y>
                        <z>0</z>
                        <width>640</width>
                        <height>800</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Lua" uid="105">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Angle</movement>
                                <wave>Sine</wave>
                                <period>2</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>10</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <effect-instances>
                        <effect-instance type="GlowVertical">
                            <parameters>
                                <intensity>0.1</intensity>
                            </parameters>
                        </effect-instance>
                        <effect-instance type="GlowHorizontal">
                            <parameters>
                                <intensity>0.1</intensity>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>96</x>
                        <y>96</y>
                        <z>0</z>
                        <width>128</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Montanhas" sid="822394173224855">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Montanhas" uid="115">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>320</x>
                        <y>512</y>
                        <z>0</z>
                        <width>640</width>
                        <height>640</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="BackgroundTItulo" sid="607734282738654">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Titulo_Background" uid="110">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Vertical</movement>
                                <wave>Sine</wave>
                                <period>2</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>10</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>224</y>
                        <z>0</z>
                        <width>640</width>
                        <height>192</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="BordasTitulo" sid="710992194913585">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Titulo_Borda" uid="111">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Vertical</movement>
                                <wave>Sine</wave>
                                <period>2</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>10</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>320</x>
                        <y>192</y>
                        <z>0</z>
                        <width>640</width>
                        <height>64</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Titulo_Borda" uid="113">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Vertical</movement>
                                <wave>Sine</wave>
                                <period>2</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>10</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>320</x>
                        <y>448</y>
                        <z>0</z>
                        <width>640</width>
                        <height>64</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>3.141592741</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="TextoTitulo" sid="859208291691268">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Titulo_Texto" uid="109">
                    <properties>
                        <text>Mar de Ideias</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-96,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Vertical</movement>
                                <wave>Sine</wave>
                                <period>2</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>10</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>192</y>
                        <z>0</z>
                        <width>640</width>
                        <height>256</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="BackgroundOpcoes" sid="412700349463303">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Opcoes_Background" uid="112">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <instance-variables>
                        <ID>1</ID>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>32</x>
                        <y>768</y>
                        <z>0</z>
                        <width>256</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="BordasOpcoes" sid="537307404148254">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
        <layer name="TextoOpcoes" sid="894968383106481">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Opcoes_Bordas" uid="117">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <ID>1</ID>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>160</x>
                        <y>736</y>
                        <z>0</z>
                        <width>256</width>
                        <height>64</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Opcoes_BordaHorizontal" uid="118">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <instance-variables>
                        <ID>1</ID>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>32</x>
                        <y>768</y>
                        <z>0</z>
                        <width>256</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Opcoes_Bordas" uid="119">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <ID>1</ID>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>160</x>
                        <y>896</y>
                        <z>0</z>
                        <width>256</width>
                        <height>64</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>3.141592741</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Opcoes_Background" uid="116">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <instance-variables>
                        <ID>1</ID>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>352</x>
                        <y>768</y>
                        <z>0</z>
                        <width>256</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Opcoes_Bordas" uid="120">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <ID>2</ID>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>480</x>
                        <y>736</y>
                        <z>0</z>
                        <width>256</width>
                        <height>64</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Opcoes_BordaHorizontal" uid="121">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <instance-variables>
                        <ID>1</ID>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>352</x>
                        <y>768</y>
                        <z>0</z>
                        <width>256</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Opcoes_Bordas" uid="122">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <ID>2</ID>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>480</x>
                        <y>896</y>
                        <z>0</z>
                        <width>256</width>
                        <height>64</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>3.141592741</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="TextoJogar" uid="114">
                    <properties>
                        <text>Jogar</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-37.6,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <instance-variables>
                        <ID>2</ID>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>64</x>
                        <y>768</y>
                        <z>0</z>
                        <width>200</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="TextoJogar" uid="123">
                    <properties>
                        <text>Opções</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-37.6,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <instance-variables>
                        <ID>2</ID>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>384</x>
                        <y>768</y>
                        <z>0</z>
                        <width>200</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
